cargo-features = ["panic-immediate-abort"]
[package]
name = "ucalc"
version = "0.1.0"
edition = "2024"

[profile.release]
lto = true
strip = true
panic = "immediate-abort"
split-debuginfo = "packed"
incremental=true
codegen-units=1
opt-level = 3

[dependencies]
